@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}

#user-input {
  padding: 1.5rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

#user-input > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-group > * {
  width: 50%;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(0.5rem, 0.75vw, 1.25rem);
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
  -moz-appearance: textfield;
}

#user-input .with-unit-container {
  position: relative;
  display: block;
}

#user-input .with-unit-container input:has(~ .investment-unit) {
  padding-left: 20px;
}

#user-input .with-unit-container input:has(~ #return-unit) {
  padding-right: 25px;
}

#user-input .with-unit-container input:has(~ #duration-unit) {
  padding-right: 46px;
}

#user-input .input-unit {
  z-index: 2;
  position: absolute;
  top: calc(50% - 1px);
  transform: translateY(-50%);
  padding-inline: 0.5rem;
  font-size: 0.8rem;
  color: #99f6e4;
}

#user-input .input-unit.start {
  left: 0;
}

#user-input .input-unit.end {
  right: 0;
}

#user-input input::-webkit-outer-spin-button,
#user-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#user-input input.invalid {
  border-color: #ef4444;
}

#user-input input:not(.invalid):focus {
  border-color: #99f6e4;
}

#user-input input.invalid:focus {
  border-color: #f87171;
}

#result_container {
  display: grid;
  place-items: center;
  width: calc(100vw - 2rem);
  max-width: 50rem;
  margin: 3rem auto;
  overflow-x: auto;
}

#result {
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

#result tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

footer {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding-inline: 0.25rem;
  font-size: 0.75rem;
  color: #2dd4bf;
  text-align: center;
}

footer p {
  margin: 0;
}

.center {
  text-align: center;
}

@media (max-width: 30rem) {
  #user-input {
    margin-inline: 2rem;
  }
}

@media (max-width: 425px) {
  #user-input {
    padding: 1.25rem;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group > * {
    width: 100%;
  }
}
